.authorsure-author-box { background: whitesmoke; overflow: hidden; margin: 10px 0px 40px 0px; padding: 10px; border: 1px solid #DDDDDD; }
.authorsure-author-box h4, #content .authorsure-author-box h4 { font-weight: bold; padding:0; margin: 0; clear:none; }
.authorsure-author-box h4 a { text-decoration:none; padding:0; margin: 0; }
.authorsure-author-box p, #content .authorsure-author-box p { margin: 0; padding:0; }
.authorsure-author-box img { border: none; }﻿
#authorsure-author-profile img.avatar, .authorsure-author-box img.avatar { float:left; border: 1px solid #A9A9A9; margin: 0 10px 0 0; padding:4px; position:relative; }
#authorsure-author-profile p { margin: 0 0 15px 0; padding: 0; }
#authorsure-author-profile ul { margin: 0px 0px 30px 0px; }
#authorsure-author-profile ul li { list-style-image: none; list-style-type: none; padding: 3px; margin: 0; }
.authorsure-author-box ul.single-line,
#authorsure-author-profile ul.single-line { display: inline; margin: 0 0 10px 0; }
.authorsure-author-box ul.single-line li,
#authorsure-author-profile ul.single-line li { display: inline; margin: 0; padding: 3px; }		
#authorsure-author-profile ul li a { text-decoration: none; }
#authorsure-author-profile ul img { border: none; padding: 0; margin: 0; vertical-align: middle;}
p#authorsure-posts-heading { margin: 15px 0; }
#authorsure-last-updated { margin: 10px 0; }
#authorsure-last-updated.left { text-align: left; }
#authorsure-last-updated.center { text-align: center; }
#authorsure-last-updated.right { text-align: right; }